.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(24, 23, 23, 0.321);
  overflow: hidden;
}

.modal {
  display: flex;
  position: relative;
  height: 20rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 7px 8px 15px -11px rgba(0, 0, 0, 0.406);
  overflow: auto;
}

.modal-content {
  display: flex;
}

.modal-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  overflow: hidden;
  width: 200px;
}

.modal-preview {
  width: 200px;
}
.modal-right {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 20rem;
  align-items: center;
  justify-content: center;
  margin: 10px;
  overflow: hidden;
}

.modal-exit {
  position: absolute;
  right: 0;
  margin: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.modal-input-div {
  background-color: #f2f2f2;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.modal-input-div:hover {
  cursor: pointer;
}

.modal-input-div input {
  display: none;
}

.modal-form-div {
  margin: auto;
  width: 100%;
}

.modal-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.modal-textarea button {
  margin: 10px 0;
}
