.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(24, 23, 23, 0.321);
  overflow: hidden;
}

.modal {
  display: flex;
  position: relative;
  height: 20rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 7px 8px 15px -11px rgba(0, 0, 0, 0.406);
  overflow: auto;
}

.following-modal-content {
  width: 18rem;
}

.following-modal-content h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.following-modal-content ul {
  padding: 0;
  margin: 0;
}

.following-modal-content a {
  text-decoration: none;
  color: #000;
}

.follower {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 50px;
}

.follower-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.follower img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}
.follower:hover {
  background-color: #f2f2f2;
}

.modal-exit {
  position: absolute;
  right: 0;
  margin: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
